name: Container Build

on:
  push:
    branches: ["main", "feat/*"]
  schedule:
    - cron: '0 2 * * *'

permissions: write-all
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    strategy:
      matrix:
        version: [8,9,10]
        build: [sdk,asp]
          
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Registry Login
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Convert IMAGE_NAME to lowercase
      id: lowercase-sdk8
      run: echo "IMAGE_NAME=$(echo ${{ env.IMAGE_NAME }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

    - name: Build and Push
      run: docker buildx build --build-arg DOTNET_VERSION=${{ matrix.version }}.0 --platform linux/amd64 -t "${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ matrix.build }}-${{ matrix.version }}" -f Dockerfile-${{ matrix.build }} .
